* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    .adminPage {
        padding: 20px;

        .menu-items {
            display: flex;
            justify-content: space-between;
            list-style-type: none 
        }      
        
        img {
            display: block;
        }

        input[type=file] {
            display: inline;
            width: 180px;
        }

        .reset-photo {
            display: inline;
        }
    }

    .homePage {
        display: flex;
        max-width: 1024px;
        margin: 0 auto;
        padding: 50px 70px;
        gap: 60px;

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
        }

        .homePage-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        
        .homePage-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            .photo {
                width: 200px;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}